@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */

body {
  background-image: url(/assets/img/wallpaper-login.png);
  background-position: center;
  background-size: cover;
}
  
header{
  background-color: transparent !important;
    align-items: center;
    
   
}
::-webkit-scrollbar {
  width: 12px;
  background-color: #313131;
}
    ::-webkit-scrollbar-thumb {
      width: 13px;
      background-color: #8C52FF;
      border-radius: 8px;
    }
nav {
    display: flex ;
    justify-content: space-between;
    align-items: center;
   margin-inline: 100px;
    padding-inline: 20px;
    margin-top: 10px;
}
.logo img {
  width: 240px;
  height: 60px;
  transition: 4s;
}
.logo img:hover{
  transform: scale(1.2);
}
.nav-options {
  display: flex;
  justify-content: center;
  gap: 45px;
  align-items: center;
  font-size: 18px;
  font-family: 'poppins', sans-serif;
  align-items: center;
  color: rgba(255, 255, 255, 0.63);
  
}
.nav-options p {
  transition: 1s;
}
.nav-options p:hover {
  transform: scale(1.2);
}
.itens-lateral {
  display: flex;
  font-size: 15px;
  filter: invert(100%);
  color: rgba(63, 61, 61, 0.548);
}
.itens-lateral img {
  width: 20px;
  height: 20px;
}
.search {
  margin-inline: 20px;
}
.search img {
  width: 15px;
  height: 15px;
}
.social-midia {
  
  margin-inline: 20px;
  
}
.social-midia img {
  margin-inline: 5px;
  width: 20px;
  height: 20px;
}
main {
    display: flex;
    justify-content: center;
}
/* Login Form */

.box-extern {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 600px;
    color: antiquewhite;
    font-family: 'poppins', sans-serif;
  }
  .box-login {
    display: flex;
    width: 350px;
    height: 38px;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.507);
    border-radius: 8px;
    font-size: 15px;
    font-family: 'poppins', sans-serif;
    margin-top: 15px;
    gap: 5px;
  }
  
  .login-g img {
    width: 20px;
    height: 20px;
  }
  .box-login img {
    width: 20px;
    height: 20px;
    
  }
  .cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .cadastro button {
    width: 300px;
    height: 40px;
    background-color: transparent !important;
    color: white;
    border: 2px solid    rgba(255, 255, 255, 0.507);
    border-radius: 8px;
    font-size: 15px;
    font-family: 'poppins', sans-serif;
    margin-top: 15px;
    gap: 5px;
}
.sub-text {
    display: flex;
    width: 150px;
    font-size: 12px;
    flex-direction: column;
    margin-top: 20px;
}
body {
  background-color: #e9e9e9;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 1px;
}

* {
  box-sizing: border-box;
  transition: .25s all ease;
}

.login-container {
  display: block;
  position: relative;
  z-index: 0;
  margin: 4rem auto 0;
  padding: 5rem 4rem 0 4rem;
  width: 400px;
  height: 400px;
  min-height: 680px;
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.85);
  border-radius: 22px;
}

.login-container:after {
  content: '';
  display: inline-block;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: radial-gradient(ellipse at left bottom, rgba(13, 13, 17, 0.795) 0%,rgba(30, 28, 34, 0.548) 59%, rgba(32, 36, 53, 0.568) 100%);
  box-shadow: 0 -20px 150px -20px rgba(0, 0, 0, 0.644);
  border-radius: 22px;
}

.form-login {
  position: relative;
  z-index: 1;
  padding-bottom: 4.5rem;
  border-bottom: 1px solid rgb(37, 34, 34);
}

.login-nav {
  position: relative;
  padding: 0;
  margin: 0 0 6em 1rem;
}

.login-nav__item {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}



.login-nav__item a {
  position: relative;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
   font-family: 'poppins', sans-serif;
  transition: .20s all ease;
}

.login-nav__item.active a,
.login-nav__item a:hover{
  color: #ffffff;
  transition: .15s all ease;
}

.login-nav__item a:after {
  content: '';
  display: inline-block;
  height: 10px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  right: 100%;
  bottom: -1px;
  left: 0;
  border-radius: 50%;
  transition: .15s all ease;
}

.login-nav__item a:hover:after,
.login-nav__item.active a:after{
  background-color: rgb(123, 25, 189);
  height: 2px;
  right: 0;
  bottom: 2px;
  border-radius: 0;
  transition: .20s all ease;

}
.login__label {
  display: block;
  padding-left: 1rem;
}

.login__label,
.login__label--checkbox {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: .75rem;
  margin-bottom: 1rem;
}

.login__label--checkbox {
  display: inline-block;
  position: relative;
  padding-left: 1.5rem;
  margin-top: 2rem;
  margin-left: 1rem;
  color: #ffffff;
  font-size: .75rem;
  text-transform: inherit;
}

.login__input {
  color: white;
  font-size: 1.15rem;
  width: 100%;
  padding: .5rem 1rem;
  border: 2px solid transparent;
  outline: none;
  border-radius: 1.5rem;
  background-color: rgba(255, 255, 255, 0.25);
  letter-spacing: 1px;
}

.login__input:hover,
.login__input:focus{
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
}

.login__input + .login__label {
  margin-top: 1.5rem;
}

.login__input--checkbox {
  position: absolute;
  top: .1rem;
  left: 0;
  margin: 0;
}

.login__submit {
  color: #ffffff;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 1rem;
  padding: .75rem;
  border-radius: 2rem;
  display: block;
  width: 100%;
  background-color: #5125aa;
  border: none;
  cursor: pointer;
}

.login__submit:hover {
  background-color: rgb(122, 38, 179);
}

.login__forgot {
  display: block;
  margin-top: 3rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  font-size: .75rem;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.login__forgot:hover {
  color: rgb(17, 97, 237);
}









/* Pos login */

.apresentation {
  display: flex;
  width: 100%;
  height: 800px;
  flex-direction: initial;
  justify-content: center;
  gap: 100px;
  
  
  background-position: center;
  background-size: cover;
 
}


.text-head {
  display: flex ;
  justify-content: center;
  flex-direction: column;
}
  
  .text-head h1  {
    font-size: 155px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-family: "Kanit", sans-serif;
  }
  .text-head h2  {
    margin-top: -50px;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #5125aa;
    font-family: "Kanit", sans-serif;
  }



  .image-visual {
    display: flex;
    width: 500px;
    height: 700px;
    flex-direction: column;
    overflow-x: hidden;
   
  }


  .card-visual-1 {
    display: flex;
    justify-content: center;
    position:static;
    width: 110px;
    height: 80px;
    border-radius:10px;
    background-color: #8C52FF;
    font-size: 10px;
    text-align: center;
    align-items: center;
    color: white;
    gap: 5px;
    
    
  }

  .card-visual-1 img {
    width: 0%;
    filter: invert(100%);
  }
  
  .card-visual-2 {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 50px;
    border-radius:10px;
    background-color: #8C52FF;
    font-size: 10px;
    text-align: center;
    align-items: center;
    color: white;
    gap: 5px;
    
  }

  .card-visual-1 h1 {
    font-size: 35px;
    font-family: 'poppins', sans-serif;
    
  }

  .card-visual-1 h2 {
    font-size: 10px;
    font-family: 'poppins', sans-serif;
  }


  .choices {
    display: flex;
    align-items: center;
    margin-top: 120px;
    flex-direction: column;
    color: white;
  }


  .line {
    display: flex;
    gap: 40px;
}
  .card-options{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 300px;
    border-radius: 12px;
    transition: 2s;
    /* margin-inline: 17px; */
    color: white;
    /* margin-top: 200px; */
    margin-top: 50px;
    filter:opacity(60%);
    
    
    
}

.card-options h1{
  font-size: 20px;
  margin-top: 250px;
}

.card-options:hover {
  transform: scale(1.2);
  filter:opacity(120%);
  box-shadow: 0 -20px 150px -20px rgba(204, 203, 203, 0.712);
  
}


